.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  transition: opacity .5s ease;
}

.profile__avatar::before {
  content: url(../../../images/EditProfile.svg);
  width: 120px;
  height: 120px;
  color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease;
}

.profile__avatar:hover::before {
  background-color: black;
  opacity: .8;
  transition: opacity .5s ease;
}
